
// PERMET HOVER EDIT IMAGE
.change-pic{
    position: relative;
    &:hover{
        & img {
            filter: brightness(30%);
        }
        & .icon-hover {
            opacity: 1;
            transform: translate(-50%, -50%) ;
            
        }
    }
    width:fit-content;
}

.icon-hover {
    cursor: pointer;
    position: absolute;
    left: 50%;
    top:50%;
    z-index: 10;
    transition: all .3s ease;
    opacity: 0;
    transform: translate(-50%, 20px);
    font-size:1.8rem;
}

label {
    font-weight: bold;
}

// fix colorpicker prob
.colorpicker {
    box-sizing: inherit!important;
}


// edit image

.change-pic.change-logo-style img {
    width:120px;
    height: 120px;
    object-fit: contain;
}

.navname {
    font-size:.8rem;
}

@media screen and (min-width: 460px) {
    .navname {
        font-size:1.1rem;
    }
  }

  #app {
    margin-top:150px;
}

  @media screen and (min-width: 992px) {
    #app {
        margin-top:0;
    }
  }
