//GENERAL
html {
    scroll-behavior: smooth;
}

.admin-btn {
    position: fixed;
    z-index: 100;
    top: 20px;
    right: 20px;
    height: 42px;
    width: 42px;
    i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.1rem;
    }
}

:is(h1, h2, h3, h4, h5, h6) {
    font-family:$font-title;
    color:$darkcyan;
  }
:is(h1, h2, h3) {
    font-weight: 600;
}

.rounded-big {
    border-radius:50px;
}

.pointer {
    cursor: pointer;
}

.cursor {
    cursor: default!important;
}

@media screen and (min-width: 1200px) {
    #app {
        margin-left:300px
    }
  }

.med-size {
    font-size:$font-size-medium;
}

.progress, .progress-bar {
    height: 8px;
}

.rea-card {
    height: 300px;
    width: 200px;
    img {
    }
}

.text-grey {
    color:#a8a9b4;
}

.fit-cover {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.bg-light-grey {
    background-color:#cdcdcd22;
}

// Navbar 

nav {
    a.onit{
        i {
            color:$primary;
        }
        span {
            color:white;
        }
    }
    i, span {
        transition: all .3s ease;
    }
    a:hover {
        i {
            color:$primary;
        }
        span {
            color:white;
        }
    }
}


.arrowed {
    &:before {
        font-family: "Font Awesome 5 Free"; 
        font-weight: 900; 
        content: "\f105";
        font-size:1.5em;
        margin-right: 10px;
    }
}
.section-title {
    h2 {
        position: relative;
        padding-bottom: 14px;
        &:before {
            content: '';
            position: absolute;
            display: block;
            width: 50px;
            height: 3px;
            background:$primary;
            bottom: 0;
            left: 0;
        }
    }

    p {
        margin-top:14px;
    }
}

header {
    width:300px;
    position: fixed;
    left: 0;
    top: 0;
    background:$darkcyan;
    color:$grey;

    .avatar {
        width: 120px;
        height: 120px;
        border: 6px solid #2c2f3f;
    }
}

#hero {
    background-image: url('/img/background.jpg');
}


// CV 

.wow {
    visibility: hidden;
}

.item-cv {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid $primary;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50px;
        left: -9px;
        top: 4px;
        background: #fff;
        border: 2px solid $primary;

    }
    &.pulsed:before{
        top: 0;
        box-shadow: 0 0 0 0 rgba(20, 157, 221, 1);
        transform: scale(1);
        animation: pulse 2s infinite;
    }

    .date {
        font-size:13px;
        background: #e4edf9;
        padding: 5px 15px;
        display: inline-block;
        font-weight: 600;
        margin-bottom: 10px;
        border-radius: 50px;
    }
}



// PORTFOLIO

.portfolio-sort {
    border-radius: 2rem;
    span {
        transition: all .2s ease;
        &:last-child {
            border-top-right-radius:2rem;
            border-bottom-right-radius:2rem;
        }
        &:hover {
            background:$primary;
            color:white;
        }
        &:first-child {
            border-top-left-radius:2rem;
            border-bottom-left-radius:2rem;
        }
    }
}

.logo-project {
    height: 150px;
    transition: all .3s ease;
}

.small-logo-project {
    height: 75px;
}

.shortdesc-rea {
    opacity: 0;
    transition: all .3s ease;
    position: absolute;
    bottom: -60px;
}

.bg-rea {
    height: 15rem;
    background-size:cover!important;
    background-position: center!important;

    &:hover {
        & .logo-project{
            transform:scale(.5) translateY(-80%);
        }

        & .shortdesc-rea {
            opacity: 1;
            bottom: 15px;
        }
    }
}

.realisations {

}

.lil-h3 {
    font-size:1.2rem;
}

.loader {
    height: 100%;
    width: 100%;
    background: white;
    position: absolute;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
}
.modal-body {
    .loader {
        font-size: 2rem;
    }
}

.techno-color {
    font-size:2rem;
    padding-left:.99rem;
}
// TECHNOLOGIES

.logo-techno {
    font-size:1.5rem;
    font-weight: bold;
    width: 50px;
    height: 50px;
}

.return-home {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size:3rem;
}

.sort-active {
    background-color:$primary;
    color:white;
}

.profile-cv {
    transform: scale(116%);
    bottom: -1.5rem;
    position: absolute;
}

.techno-icon {
    &:not(.avoid-glitch-top){
        animation: falling 5s infinite linear;
    }
    &.avoid-glitch-top {
        animation: fallingAvoid 5s infinite linear;
        position: absolute;
        top: -12.5%;
    }
}

.avoid-glitch-color {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

.imgtechno-rea {
    height: 160px;
}


@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(20, 157, 221, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(20, 157, 221, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(20, 157, 221, 0);
	}
}

@keyframes falling {
	0% {
        transform:translateY(0%);
    }

	100% {
        transform:translateY(100%);
    }
}

@keyframes fallingAvoid {
	0% {
        transform:translateY(0%);
    }

	100% {
        transform:translateY(100%);
    }
}



.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }