.bandeau {
  height: 200px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bandeau h1 {
  font-size: 5rem;
}

.rea-date-home {
  position: absolute;
  top: -20px;
  right: 10px;
  transition: all 0.3s ease;
}

.invalid-feedback {
  display: block;
}
